<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @app.title %>
</p>

<p>
  <b>Keywords:</b>
  <%= @app.keywords %>
</p>

<p>
  <b>Description:</b>
  <%= @app.description %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
